

/* move from / to  */

@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight { 
	from { }
	to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight { 
	from { }
	to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

 .ui-view-container2 {
  position: relative;
       
  &[ui-view].ng-enter,
  &[ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
  }

  &[ui-view].ng-enter {
    -webkit-animation: moveFromRight .6s ease both;
	  animation: moveFromRight .6s ease both;
  }
  /*[ui-view].ng-enter-active {}*/

  &[ui-view].ng-leave {
    -webkit-animation: moveToLeft .6s ease both;
    animation: moveToLeft .6s ease both;
  }
  /*[ui-view].ng-leave-active {}*/

  &[ui-view].ng-enter.back {
   -webkit-animation: moveFromLeft .6s ease both;
	animation: moveFromLeft .6s ease both;
  }

  &[ui-view].ng-leave.back {
   	-webkit-animation: moveToRight .6s ease both;
	animation: moveToRight .6s ease both;
  }
}
